/*
! Admin CSS
*/

// Variables

$size-sm: "(min-width: 576px)";
$size-md: "(min-width: 768px)";
$size-lg: "(min-width: 992px)";
$size-xl: "(min-width: 1200px)";

a:hover {
    text-decoration: none;
}

.top-header {
    padding: 10px 0px;
    background: #007bff;

    a {
        color: #fff; 
    }

    .dropdown-item {
        color: #007bff;
    }
}

.side-menu {
    transform: translateX(-100%);
    transition: all ease 0.6s;
    position: absolute;
    width: 100%;
    z-index: 99;
    background: #fff;

    &.show {
        transform: translateX(0%);
    }
    @media #{$size-lg} {
        transform: translateX(0%);
        position: static;
    }
    ul {
        padding: 0px;
        list-style: none;
        li {
            padding: 10px 10px 10px 20px;
            border-bottom: 1px solid #eee;
        }
    }

    a:hover, a.active {
        color: #ffc107;
    }
}